@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

.container-home {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-nav {
    display: flex;
    width: 90%;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Milonga', cursive;
    color: #f520a3;
}