.container-home {
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-nav-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-nav {
    display: flex;
    width: 95%;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #f520a3;
}

.container-main {
    align-items: center;
   
}