.container-table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 2rem;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #fabbe2;
}

td {
  background-color: #fabbe2;
}

