@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Quicksand:wght@500&display=swap');

* {
  background-color: #fcecf5;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}