.button {
    display: flex;
}

.button-create {
    width: 150px;
    padding: 18px;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color: #db41a0;
    border-width: 1px;
    border: none;
    border-radius: 50px;

}